.l-contents {
  &_main {
    max-width: 1000px;
    margin: 0 auto;
    &_concept,
    &_work {
      display: flex;
      &_picture {
        width: 50%;
        img {
          width: 100%;
        }
      }
      &_sentence {
        width: 50%;
        margin: auto 0;
        h2 {
          font-size: 24px;
          font-weight: normal;
          padding: 0 7%;
        }
        h3 {
          font-size: 16px;
          font-weight: normal;
          padding: 0 7%;
        }
        p {
          font-size: 16px;
          padding: 25px 7%;
        }
      }
    }
  }
}
