.l-contents {
  &_main {
    max-width: 1000px;
    margin: 0 auto;
    &_concept,
    &_work {
      display: flex;
      &_picture {
        width: 50%;

        img {
          width: 100%;
        }
      }
      &_sentence {
        width: 50%;
        align-items: center;

        &_1 {
          padding-left: 7%;
          width: 50%;
          margin: auto 0;
          h2 {
            font-size: 24px;
            font-weight: normal;
          }
          h3 {
            font-size: 16px;
            font-weight: normal;
          }
          p {
            padding-top: 25px;
            font-size: 16px;
          }
        }
        &_2 {
          padding-right: 7%;
          width: 50%;
          margin: auto 0;
          h2 {
            font-size: 24px;
            font-weight: normal;
          }
          h3 {
            font-size: 16px;
            font-weight: normal;
          }
          p {
            padding-top: 25px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
